<div id="rsvp" class="wrapper style4">
  <article class="container small">
    <header>
      <h2>Will you be able to attend?</h2>
    </header>
    <div>
      <div class="row">
        <div class="12u">
          <script type="text/javascript">var submitted=false;</script>
          <iframe name="hidden_iframe" id="hidden_iframe"
            style="display:none;" onload="if(submitted)
            {window.location='{{site.url}}/thank-you';}"></iframe>
          <form action="https://docs.google.com/forms/d/1dkCEdZHdl0ZHm8lGJZNP6OFWl4sBerfkK0nF9Mvy8F4/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">
            <div>
              <div class="row">
                <div class="12u">
                  <ul class="actions">
                    <li>
                      <label>
                        <input type="radio" name="entry.686975286" value="Yes">
                        <span class="button">Yes</span>
                      </label>
                    </li>
                    <li>
                      <label>
                        <input type="radio" name="entry.686975286" value="No">
                        <span class="button">No</span>
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="6u">
                  <input type="text" name="entry.1362770363" placeholder="Name" id="entry_1362770363" dir="auto">
                </div>
                <div class="6u">
                  <select name="entry.251681457">
                    <option value="">Number of Guests</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="6u">
                  <input type="text" name="entry.1722033028" placeholder="I promise to dance if you play..">
                </div>
                <div class="6u">

                </div>
              </div>
              <div class="row">
                <div class="12u">
                  <label>
                    Marriage advice for the Bride &amp; Groom
                  </label>
                  <textarea name="entry.96171748"></textarea>
                </div>
              </div>
              <div class="row double">
                <div class="12u">
                  <ul class="actions">
                    <li><input type="submit" value="Send RSVP" /></li>
                  </ul>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer>
      <hr>
      <ul id="copyright">
        <li><a href="mailto:thegloverkids@gmail.com">TheGloverKids@gmail.com</a></li>
        <li><a href="http://twitter.com/psychtlc">@psychtlc</a></li>
        <li><a href="http://twitter.com/ersatzryan">@ersatzryan</a></li>
      </ul>
    </footer>
  </article>
</div>
