<div id="festivities" class="wrapper style1">
  <header>
    <h2>The Festivities</h2>
  </header>
  <div class="row">
    <div class="4u">
      <h3>Ceremony Rehearsal</h3>
      <p>
        <strong>Friday, November 21<sup>st</sup> 4:00PM</strong>
        <br>
        <address>
          <strong>The Lake House</strong><br>
          730 Terrace Point Dr<br>
          Muskegon, MI 49440<br>
          <a href="https://www.google.com/maps/search/The+Lake+House+Waterfront+Grille,+Terrace+Point+Drive,+Muskegon,+MI/@43.2405645,-86.2553936,17z/data=!3m1!4b1">View Map</a>
        </address>
        <br>
        Wedding Party
      </p>
    </div>
    <div class="4u">
      <h3>Rehearsal Dinner</h3>
      <p>
        <strong>Friday, November 21<sup>st</sup> 6:00PM</strong>
        <br>
        <address>
          <strong>Unruly Brewing Co.</strong><br>
          360 W Western Ave<br>
          Muskegon, MI 49440<br>
          <a href="https://www.google.com/maps/place/Unruly+Brewing+Company/@43.235918,-86.252438,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0xf16a10b74681029b">View Map</a>
        </address>
        <br>
        Wedding Party
      </p>
    </div>
    <div class="4u">
      <h3>Ceremony &amp; Reception</h3>
      <p>
        <strong>Saturday, November 22<sup>nd</sup> 4:30PM</strong>
        <br>
        <address>
          <strong>The Lake House</strong><br>
          730 Terrace Point Dr<br>
          Muskegon, MI 49440<br>
          <a href="https://www.google.com/maps/search/The+Lake+House+Waterfront+Grille,+Terrace+Point+Drive,+Muskegon,+MI/@43.2405645,-86.2553936,17z/data=!3m1!4b1">View Map</a>
        </address>
        <br>
        Reception immediately following.
      </p>
    </div>
  </div>
  <div class="row">
    <br>
    <div class="3u"></div>
    <div class="3u">
      <span class="image small round">
        <img src="/images/shorelineinn.png">
      </span>
    </div>
    <div class="3u">
      <header>
        <h3>Accommodations</h3>
      </header>

      <address>
        <strong><a href="http://shorelineinn.com">Shoreline Inn</a></strong><br>
        750 Terrace Point Dr<br>
        Muskegon, MI 49440<br>
        (231) 727-8483<br>
        <a href="https://www.google.com/maps/place/Shoreline+Inn/@43.2402583,-86.255546,17z/data=!3m1!4b1!4m2!3m1!1s0x88197d7d68ed1b09:0x5826bf0cdb44d09e">View Map</a>
      </address>
      <br>
      <p>
        <strong>Request Glover-Cramer Wedding<br>$89</strong>
      </p>
    </div>
  </div>
</div>
