<div id="home" class="wrapper style1 first">
  <article class="container">
    <div class="row">
      <div class="4u">
        <span class="image fit"><img src="images/us.jpg" alt="" /></span>
      </div>
      <div class="8u">
        <header>
          <h1>Ryan &amp; Tara's <strong>Wedding</strong></h1>
        </header>
        <p>
        November 22<sup>nd</sup>, 2014 @ 4:30PM
        <address>
          <strong>The Lake House</strong><br>
          730 Terrace Point Dr<br>
          Muskegon, MI 49440<br>
        </address>
        </p>

        <a href="#rsvp" data-scroll class="button big">RSVP</a>
      </div>
    </div>
  </article>
</div>
